<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apk2try.punetourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TourGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Restaurant"
            android:label="@string/category_restaurants"
            android:parentActivityName=".Restaurant" />
        <activity
            android:name=".Malls"
            android:label="@string/category_malls"
            android:parentActivityName=".Malls" />
        <activity
            android:name=".HistoricPlaces"
            android:label="@string/category_historic_places"
            android:parentActivityName=".HistoricPlaces" />
        <activity
            android:name=".HillStation"
            android:label="@string/category_HillStation"
            android:parentActivityName=".HillStation" />
    </application>

</manifest>